<!doctype html>
<html ng-app>
  <head>
    <title>Splitr - Average Split Speed</title>
    <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/splitr.css'>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js'></script>
    <script src='js/splitr.js'></script>
  </head>
  <body>
    <div id='app'>
      <h1>Splitr</h2>
      <p>Enter your split times over a standard distance to get your average pace.</p>
      <div ng-controller='SplitsCtrl'>
        <h2>Your average is: {{ getAverage() }}</h2>

        <div ng-repeat='split in splits' class='split-row'>
          <input ng-model='split.minutes' type='number' placeholder='mm' class='minutes'>
          <span>:</span>
          <input ng-model='split.seconds' type='number' placeholder='ss' class='seconds'>
        </div>
        <button ng-click='addSplit()' class='btn btn-mini btn-primary'>+ Add Split</button>
      </div>
    </div>
  </body>
</html>
